<!DOCTYPE html>
{% extends 'base.html'%}

{% block titulo %}Error{% endblock %}
{#ESTA PAGINA SERA MOSTRADA SI HAY ALGUN ERROR EN EL SITEMA JUNTO CON UN MENSAJE DE ACUERDO A LA VARIABLE RECIBIDA#}
{% block contenido%}
<div class="main-content">
    {%if error_msg%}
    <img src="{{url_for('static', filename='error.svg')}}" alt="img" srcset="">
    <h1>Error</h1>
    <p>{{error_msg}}</p>
    {% endif %}

    {%if no_book%}
    <img src="{{url_for('static', filename='no_book.svg')}}" alt="img" srcset="">
    <h1>Error</h1>
    <p>{{no_book}}</p>
    {% endif %}

    {%if duplicated%}
    <img src="{{url_for('static', filename='duplicated_user.svg')}}" alt="img" srcset="">
    <h1>Usuario duplicado</h1>
    <p>{{duplicated}}</p>
    {% endif %}

    {%if duplicated_isbn%}
    <img src="{{url_for('static', filename='duplicated_isbn.svg')}}" alt="img" srcset="">
    <h1>Error</h1>
    <p>{{duplicated_isbn}}</p>
    {% endif %}

</div>
{% endblock %}

