<!DOCTYPE html>
{% extends 'base.html' %}
{% import "base.html" as macros %}
{% block titulo %}Libros{% endblock %}

{% block contenido%}
{#EL FORMULARIO PARA AÑADIR LIBROS SOLO ES MOSTRADO A ADMIN Y SUPERADMIN#}
  {%if rol == 1 or rol == 2%}
    <form action="{{url_for('manejar_libros')}}" method="post" class="form-main">
        <h1>Libros</h1>
        <div class="form-group">
            
            <label for="titulo" class="label-form">Titulo</label>
            <input type="text" name="titulo" id="titulo" class="form-control" placeholder="Titulo del libro" minlength="5" maxlength="70" required>

            <label for="autor" class="label-form">Autor</label>
            <input type="text" name="autor" id="autor" class="form-control" placeholder="Autor del libro" minlength="5" maxlength="70" required>

            <label for="isbn" class="label-form">ISBN</label>
            <input type="text" name="isbn" id="isbn" class="form-control" placeholder="ISBN del libro" minlength="5" maxlength="18" required>

            <label for="editorial" class="label-form">Editorial</label>
            <input type="text" name="editorial" id="editorial" class="form-control" placeholder="Editorial" minlength="5" maxlength="70" required>

            <label for="año" class="label-form">Año de publicación</label>
            <input type="number" name="año" id="año" class="form-control" placeholder="Año de publicación" min="1600" max="2100" required>

            <button type="submit" class="btn" title="Agregar libro" >Agregar libro</button>
        </div>
    </form>
    {%endif%}
  
    <div class="table-container">
      {#ESTA MACRO MUESTRA UNA BARRA DE BUSQUEDA PARA BUSCAR LIBROS#}
      {{macros.buscar_filtro('buscar_libros', 'manejar_libros', 'Buscar libro por nombre')}}
        <table>
          <thead>
            <tr>
              <th>ISBN</th>
              <th>Titulo</th>
              <th>Autor</th>
              {#OPCIONES PARA DMIN Y SUPERADMIN#}
              {%if rol == 1 or rol == 2%}
              <th>Opciones</th>
              {%endif%}
            </tr>
          </thead>
          <tbody>
            {#BUCLE FOR PARA OSTRAR LA INFORMACION DE LIBROS EN LA BASE DE DATOS#}
            {% for libro in libros%}
            <tr>
                <td >{{libro[0]}} </td>
                <td >{{libro[1]}} </td>
                <td >{{libro[2]}}</td>
                
                {%if rol == 1 %}
                <td class="super-admin-op">
                   {#BOTON PARA BORRAR LIBRO#}
                   {{macros.form_button('borrar_libro', 'isbn', libro[0], 'delete.svg', 'Borrar libro', {'tabla': 'libros'})}}                  
                   {#BOTON PARA EDITAR LIBRO#}
                   {{macros.form_button('actualizar_libros_view', 'isbn', libro[0], 'edit.svg', 'Editar información libro', {'tabla': 'libros'})}}         

                  {%elif rol == 2%}
                  <td>
                   {# ADMIN SOLO TIENE ACCESO A EDITAR #}
                   {{macros.form_button('actualizar_libro', 'isbn', libro[0], 'edit.svg', 'Editar información libro', {'tabla': 'libros'})}}  
                  </td>
                </td>
                {%endif%}
                {%endfor%}
            </tr>
            
          </tbody>
        </table>
      </div>

{% endblock %}

