<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.svg')}}" type="image/x-icon">
    <title>Biblioteca - login</title>
</head>
<body>
    
    <div class="display">
        <img src="{{url_for('static', filename='login.svg')}}" alt="img" srcset="" class="logo-login">
        <form action="" method="post" class="login-form">
            <h1 class="login-h1">Iniciar sesión</h1>
            <label for="usuario">Usuario</label>
            <input type="text" name="usuario" id="usuario" class="form-input" placeholder="Username">
            <label for="">Contraseña</label>
            <input type="password" name="password" id="password" class="form-input" placeholder="Contraseña">
            <button type="submit" class="btn">Iniciar sesión</button>
            {#Error si el usuario o contraseña no son correctos#}
            {%if error%}
            <p class="warning">{{error}}</p>
            {%endif%}

            {%if error_user%}
            <p class="warning">{{error_user}}</p>
            {%endif%}
        </form>
    </div>
    
    
</body>
</html>